.container{
    width: 1200px;
    margin: 0 auto;
}
header{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn1{
    width: 80px; 
     height: 30px;
    color: rgb(25, 124, 182);
    border: 2px solid rgb(25, 124, 182);
    background-color: white;
}
.main{
    width: 1200px;
    background-color: rgb(122, 129, 129);
    display: flex;
    justify-content: space-between;
}
.pop{
    width: 300px;
    height: 200px;
    border: none;
    box-shadow: 5px 10px 20px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin: 20px;
    border-left: 5px solid blue;
}
.im{
    width: 60px;
    margin-left: 20px;
    margin-top: 20px;
}
.pop2{
    width: 300px;
    height: 300px;
    border: none;
    background-color: white;
    margin: 20px;
    box-shadow: 5px 10px 20px;
}
.popp2{
    display: flex;
    justify-content: space-between;
    
}
.sec2{
    width: 400px;
    height: 530px;
    background-color: white;
    margin: 20px;
    box-shadow: 15px 15px 25px;
}
.inp1{
    width: 230px;
    height: 30px;
    margin: 2px;
    margin-left: 30px;
   
}
.in1{
    width: 130px;
    margin: 0px 15px;
    height: 30px;
    margin-left: 30px;
   
}
.in2{
    width: 207px;
    height: 30px;
    margin-left: 20px ;
}
button{
    width: 100px;
    height: 30px;
    background-color: rgb(124, 132, 139);
    border-radius: 5px;
}
.sec3{
    width: 400px;
    height: 530px;
    background-color: white;
    margin: 20px;
    box-shadow: 25px 25px 55px 10px;
}
.im2{
    width: 300px;
    margin-left: 30px;
    margin-top: 40px;
    box-shadow: 7px 7px 20px;
}
.sp{
    margin-left: 20px;
}